# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================
backend/.env

# ==========================
# Stockfish Engine
# ==========================
stockfish/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db
